<?xml version='1.0' encoding='utf-8'?>
<widget id="com.souto.souto" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Souto</name>
    <icon src="public/app-icon.png" platform="ios" width="57" height="57" density="mdpi" />
    <description>
        NONE
    </description>
    <author email="omerxdayan1@gmail.com">
        Omer dayan
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="APP_ID" value="318617532783602"/>
    <preference name="Orientation" value="portrait" />
</widget>
