@font-face {
  font-family: 'Ubuntu';
  src: url('./resources/Ubuntu-font/Ubuntu-Regular.ttf');
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
